*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boundary {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    max-width: 96vw;
    margin: 0 auto;
    width: 100%;
    height: 450px;
}

.flex-layout {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: relative;
    left: 2vw;
}

.flex-item {
    padding: 0 4vw 4vw 0;
}



.flex-item-lg {
    width: 100%;
    height: calc(100% / 3);
}

.flex-item-sm {
    width: 50%;
    height: calc(100% / 3);
}

.content {
    background: YellowGreen;
    width: 100%;
    height: 100%;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width : 600px) {
    .wrapper {
        max-width: 92vw;
        height: 550px;
    }

    .flex-layout {
        flex-direction: column;
        left: 12px;
    }

    .flex-item {
        padding: 0 24px 24px 0;
    }

    .flex-item-lg {
        width: 50%;
        height: 100%;
    }

    .flex-item-sm {
        width: 25%;
        height: 50%;
    }
}
